/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

/* Estilo del input y botón */
input[type="text"], button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

/* Estilo del contenedor de cookies */
#cookiess {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    display: none; /* Oculto por defecto */
}

/* Estilos de los botones de cookies */
#cookiess button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

/* Estilo del pie de página */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
