body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
}

header .logo img {
  width: 100px;
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

main {
  padding: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.gym-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gym-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.gym {
  margin: 20px;
  width: calc(33.33% - 20px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.gym:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.gym img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  
}

.gym h3 {
  margin-top: 10px;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
}